<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf8"/>
    <title>{{title}}</title>
    <!-- needed for adaptive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>!function(e,a,t,n,g,c,o){e.GoogleAnalyticsObject=g,e.ga=e.ga||function(){(e.ga.q=e.ga.q||[]).push(arguments)},e.ga.l=1*new Date,c=a.createElement(t),o=a.getElementsByTagName(t)[0],c.async=1,c.src="https://www.google-analytics.com/analytics.js",o.parentNode.insertBefore(c,o)}(window,document,"script",0,"ga"),ga("create","UA-135644799-2","auto"),ga("send","pageview");</script>
    <link rel="shortcut icon" href="https://cdn.jsdelivr.net/gh/ProjectFK/KCIbald@0.0.3/dist/assets/favicon.ico"
          integrity="sha256-PC1iEQIwJYyiy2bv1zrNP8OTvX42Slaz2GpOfYDGIRo=" crossorigin="anonymous">
    <style>
        body {
            padding: 0;
            margin: 0;
        }
    </style>
    <script>document.location.protocol.includes('https') || (document.location.protocol = 'https')</script>
    {{{redoc_styles}}}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700" rel="stylesheet">
</head>

<body>
{{{redocHTML}}}
{{{redocjs}}}
<script>
    var __redoc_state = {{{redoc_state}}};
    var container = document.getElementById('redoc');
    Redoc.hydrate(__redoc_state, container);
</script>
</body>

</html>