<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf8"/>
    <title>{{title}}</title>
    <!-- needed for adaptive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>!function(e,a,t,n,g,c,o){e.GoogleAnalyticsObject=g,e.ga=e.ga||function(){(e.ga.q=e.ga.q||[]).push(arguments)},e.ga.l=1*new Date,c=a.createElement(t),o=a.getElementsByTagName(t)[0],c.async=1,c.src="https://www.google-analytics.com/analytics.js",o.parentNode.insertBefore(c,o)}(window,document,"script",0,"ga"),ga("create","UA-135644799-2","auto"),ga("send","pageview");</script>
    <link rel="shortcut icon" href="https://cdn.jsdelivr.net/gh/ProjectFK/KCIbald@0.0.3/dist/assets/favicon.ico"
          integrity="sha256-PC1iEQIwJYyiy2bv1zrNP8OTvX42Slaz2GpOfYDGIRo=" crossorigin="anonymous">
    <style>
        body {
            padding: 0;
            margin: 0;
        }

        footer {
            background-color: rgb(249, 213, 64);
            left: 0;
            bottom: 0;
            width: 100%;
            text-align: center;
            padding-top: 40px;
            padding-bottom: 60px;
        }

        .maintain {
            font-family: 'Noto Sans JP', sans-serif;
        }

        .build-info {
            font-family: 'Oswald', sans-serif;
        }
    </style>
    <script>document.location.protocol.includes('https') || (document.location.protocol = 'https')</script>
    {{{redoc_styles}}}
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans+JP|Oswald|Roboto&display=swap"
          rel="stylesheet">
</head>

<body>
{{{redocHTML}}}
{{{redocjs}}}
<script>
    var __redoc_state = {{{redoc_state}}};
    var container = document.getElementById('redoc');
    Redoc.hydrate(__redoc_state, container);
</script>

<footer>
    <img src="https://cdn.jsdelivr.net/gh/ProjectFK/KCIbald@0.0.3/dist/assets/favicon.ico" alt="KCIbald icon">
    <p class="maintain">Created and maintained by <a href="https://github.com/FirePillow/">FirePillow</a> with &#128151</p>
    <p class="build-info">
        <i>
            This page was built on {{ buildTime }},
            from branch: <b>{{ buildBranchName }}</b>,
            commit <b><a href={{buildCommitUrl}}>{{ buildCommit }}</a></b>
        </i>
    </p>
</footer>

</body>
</html>